<template>
    <v-layout align-start>
        <v-flex>
            <v-toolbar flat color="white">
                <v-toolbar-title>Independencias</v-toolbar-title>
                    <v-divider
                    class="mx-2"
                    inset
                    vertical
                    ></v-divider>
                    <v-spacer></v-spacer>
                    <v-text-field class="text-xs-center" v-model="search" append-icon="search" label="Búsqueda" single-line hide-details></v-text-field>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="500px">
                        <v-btn slot="activator" color="primary" dark class="mb-2">Nuevo</v-btn>
                        <v-card>
                            <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                            </v-card-title>
                
                            <v-card-text>
                            <v-container grid-list-md>
                                <v-layout wrap>
                                  <v-flex xs12 sm12 md12>
                                    <v-text-field v-model="titulo" label="Título"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm12 md12>
                                    <v-text-field v-model="createDate" label="Fecha de Creación"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm12 md12>
                                    <v-text-field v-model="endDate" label="Fecha de Finalización"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm12 md12>
                                    <v-text-field v-model="estado" label="Estado"></v-text-field>
                                    </v-flex>
                                     <v-flex xs12 sm12 md12 v-show="valida">
                                    <div class="red--text" v-for="v in validaMensaje" :key="v" v-text="v">
                                    </div>
                                </v-flex>

                                </v-layout>
                            </v-container>
                            </v-card-text>
                
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" flat @click.native="close">Cancelar</v-btn>
                                <v-btn color="blue darken-1" flat @click.native="guardar">Guardar</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <v-dialog v-model="adModal" max-width="290">
                        <v-card>
                            <v-card-title class="headline" v-if="adAccion==1">Esta seguro que decea eliminar el Registro?</v-card-title>
                           
                            <v-card-text>
                                Estás a punto de 
                                <span v-if="adAccion==1">Eliminar </span>
                               
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="green darken-1" flat="flat" @click="activarDesactivarCerrar">
                                    Cancelar
                                </v-btn>
                                <v-btn v-if="adAccion==1" color="orange darken-4" flat="flat" @click="eliminar">
                                    Aceptar
                                </v-btn>
                              
                            </v-card-actions>

                        </v-card>
                    </v-dialog>
                </v-toolbar>
             <v-data-table
                :headers="headers"
                :items="independencias"
                :search="search"
                class="elevation-1"
            >
                <template slot="items" slot-scope="props">
                   <td class="justify-center layout px-0">
                        <v-icon small class="mr-2" @click="editItem(props.item)">
                        edit
                        </v-icon>
                      
                        <template >
                        <v-icon
                            small
                            @click="activarDesactivarMostrar(1, props.item)"
                        >
                            check
                        </v-icon>
                        </template>
                    </td>
                    <td>{{ props.item.titulo }}</td>
                    <td>{{ props.item.createDate }}</td>
                    <td>{{ props.item.endDate }}</td>
                    <td>{{ props.item.estado == 1 ? 'Activo' : 'Inactivo' }}</td>
                    
                </template>
                    <template slot="no-data">
                    <v-btn color="primary" @click="listar">Resetear</v-btn>
                    </template>
            </v-data-table>
        </v-flex>
    </v-layout>
</template>
<script>
    import axios from 'axios'
    export default {
        data() {
            return {    
            independencias: [],
            dialog: false,
            headers: [
                { text: "Opciones", value: "opciones", sortable: false },
                { text: "Título", value: "titulo" },
                { text: "Fecha de Creación", value: "createDate", sortable: false },
                { text: "Fecha de Finalización", value: "endDate", sortable: false },
                { text: "Estado", value: "estado", sortable: false },
            ],
            search: "",
            editedIndex: -1,
            id: "",
            titulo: "",
            estado: "",
            createDate: "",
            endDate: "",
            valida: 0,
            validaMensaje: [],
            adModal: 0,
            adAccion: 0,
            adTitulo: "",
            adId: "",
            };
        },
        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Nueva Indepencia' : 'Actualizar Indepencia'
            }
        },

        watch: {
            dialog (val) {
            val || this.close()
            }
        },

        created () {
            this.listar();
        },
        methods:{
              formatDate(dateString) {
                const options = { year: 'numeric', month: 'numeric', day: 'numeric' };
                const formattedDate = new Date(dateString).toLocaleDateString(undefined, options);
                return formattedDate;
            },          
            listar() {
             axios.get('api/v1/create', {
                headers: {
                    'Authorization': 'Bearer pa45JTbWjscpMC29kw6ZDH6Ov0ipGcBoCVoRN-FBKbE2izSKgA'
                }
                })
                .then(response => {
             
                this.independencias = response.data.items;
                })
                .catch(error => {
                   console.error('Error al obtener datos de la API:', error);
                });
            },
            editItem(item) {           
            this.id = item._uuid;
            this.titulo = item.titulo;
            this.createDate = item.createDate;
            this.endDate = item.endDate;
            this.estado = item.estado;
            this.editedIndex = 1;
            this.dialog = true;
         },

            activarItem (item) {
                const index = this.desserts.indexOf(item)
                confirm('Are you sure you want to activar this item?') && this.desserts.splice(index, 1)
            },

            close () {
                this.dialog = false;
                this.limpiar();
            },
          limpiar() {
            this.id = "";
            this.titulo = "";
            this.createDate = "";
            this.endDate = "";
            this.estado = "";
            this.editedIndex = -1;
         },
         guardar() {
            
            if (this.validar()) {
                return;
            }

            let me = this;
                
            if (this.editedIndex > -1) {               
              axios
                .put(`api/v1/create`, [
                    {
                        '_uuid': me.id,
                        'titulo': me.titulo,
                        'createDate': me.createDate,
                        'endDate': me.endDate,
                        'estado': me.estado
                    }
                ], {
                    headers: {
                        'Content-Type': 'application/json',
                       'Authorization': 'Bearer pa45JTbWjscpMC29kw6ZDH6Ov0ipGcBoCVoRN-FBKbE2izSKgA'
                    }
                })
                .then(function(response) {
                    me.close();
                    me.listar();
                    me.limpiar();
                })
                .catch(function(error) {
                    console.log('Error de servidor:', error.response.data);
                    console.log('Código de estado:', error.response.status);
                    console.log('Cabeceras:', error.response.headers);
                    console.log('Configuración de la solicitud:', error.config);
                });
            } else {
            
               axios.post('api/v1/create', [
                    {
                        'titulo': me.titulo,
                        'createDate': me.createDate,
                        'endDate': me.endDate,
                        'estado': me.estado
                    }
                ], {
                    headers: {
                        'Content-Type': 'application/json',
                       'Authorization': 'Bearer pa45JTbWjscpMC29kw6ZDH6Ov0ipGcBoCVoRN-FBKbE2izSKgA'
                    }
                })
                .then(function(response) {
                    me.close();
                    me.listar();
                    me.limpiar();
                })
                .catch(function(error) {
                    console.log('Error de servidor:', error.response.data);
                    console.log('Código de estado:', error.response.status);
                    console.log('Cabeceras:', error.response.headers);
                    console.log('Configuración de la solicitud:', error.config);
                });
            }
            },
          validar() {
                this.valida = 0;
                this.validaMensaje = [];

                // Validación del título
                if (!this.titulo || this.titulo.length < 3 || this.titulo.length > 50) {
                    this.validaMensaje.push("El título debe tener entre 3 y 50 caracteres");
                }

                // Validación del estado (si es un número)
                if (isNaN(this.estado)) {
                    this.validaMensaje.push("El estado debe ser un número");
                }

                // Validación de la fecha de creación
                if (!this.createDate) {
                    this.validaMensaje.push("La fecha de creación es obligatoria");
                } else {
                   
                }

                // Validación de la fecha de finalización (si existe)
                if (this.endDate && !this.isValidDate(this.endDate)) {
                    this.validaMensaje.push("La fecha de finalización tiene un formato de fecha inválido");
                }

                if (this.validaMensaje.length) {
                    this.valida = 1;
                }

                return this.valida;
                },

            isValidDate(dateString) {              
                const regex = /^\d{2}-\d{2}-\d{4}$/;
                return regex.test(dateString);
            },
            activarDesactivarMostrar(accion,item){
                this.adModal=1;
                this.adTitulo=item.titulo;
                this.adId=item._uuid;  
                this.id=item._uuid;           
                if (accion==1){
                    this.adAccion=1;
                }                
                else{
                    this.adModal=0;
                }
            },
            activarDesactivarCerrar(){
                this.adModal=0;
            },
           eliminar() {
                let me = this;
                axios.delete('api/v1/create', {
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer pa45JTbWjscpMC29kw6ZDH6Ov0ipGcBoCVoRN-FBKbE2izSKgA'
                    },
                    data: [
                        {
                            '_uuid': me.adId
                        }
                    ]
                })
                .then(function(response) {                 

                    // Cerrar el modal aquí
                    me.adModal = 0;
                    me.adAccion = 0;
                    me.adNombre = "";
                    me.adId = "";

                    // También puedes llamar a otras funciones que necesites después de eliminar y cerrar el modal
                    me.listar();
                })
                .catch(function(error) {
                    // Manejar errores de la solicitud DELETE
                    console.error('Error de servidor:', error.response.data);
                    console.error('Código de estado:', error.response.status);
                    console.error('Cabeceras:', error.response.headers);
                    console.error('Configuración de la solicitud:', error.config);
                });
            },
    
        }        
    }
</script>
